body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: darkgreen;
    text-align: center;
    margin:0px;
    background: #1F324A;
}
#Cabecera{
    margin: -30px -30px 0px -30px;
    padding: 10px;
    background: darkblue;
    color: aliceblue;
    font-size: 1.3em;
    font-weight: bold;
}
#Cabecera #logo{
    width: 3%;
    height: 3%;
    margin: 0px 10px 0px 10px;
    padding: 0px;
    float: left;
}
#Cabecera #textofino{
    font-size: 0.8em;
    font-weight: lighter;
    padding-left: 20px;
}
#seccion{
    border: 1px solid silver;
    text-align: left;
    width: 65%;
    padding: 30px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: aliceblue;
}
#seccion h1{
    margin-top: 40px;
}
p spam{
    font-weight: bold;
    font-size: 1.2 em;
    color: black;
}
#footer{
    background:#777;
    color:white;
    text-align:center;
    padding:0.5em;
    margin:0px -30px -30px -30px;

}